<div>
  <!-- Navbar -->
  <ul class="nav justify-content-center sticky-top bg-black navbar-custom">
    <li class="nav-item">
      <a class="nav-link" (click)="scrollTo('education', $event)">Education</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="scrollTo('skills', $event)">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="scrollTo('experience', $event)">Experience</a>
    </li>
  </ul>
</div>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/paul-main.jpg" class="d-block w-100" alt="fullstackdotnetdev">
      <div class="overlay-text">
        <h2 class="intro">Hi, I'm Paul</h2> <!-- intro - font green -->
        <p>A passionate <b class="intro">Full-Stack .Net developer</b> with a knack for building robust
          Applications.
          With a strong foundation in both Front-end and Back-end Development,
          I thrive on turning ideas into innovative solutions.
          Let's create something extraordinary together.</p>
      </div>
    </div>
  </div>
<!-- app.component.html -->
<div class="resume-container">
  <a href="/assets/PAULRESUME.DOCX" download class="crazy-button">
    Have a look on my CV?
  </a>
</div>


  <div class="education-section" id="education">
    <h2 class="mb-3">Education</h2>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card text-bg-dark bg-black text-center">
            <div class="card-header">
              Bachelor of Engineering
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>Anna University, NPRCET</p>
                <footer class="blockquote-footer"> <cite title="Source Title">Acquired a solid foundation in engineering principles, critical
                  thinking, and analytical skills through coursework in Mechanical Engineering.
                  </cite>
                </footer>
                <footer class="blockquote-footer"> <cite title="Source Title">Developed strong problem-solving abilities, attention to detail, and the ability to work under
                  pressure to meet project deadlines.</cite>
                </footer>
              </blockquote>
            </div>
            <div class="card-footer">
              2017 - 2021
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="education-section mt-5" id="skills">
    <h2 class="mb-3">Skills</h2>
    <div class="container skills-container">
      <div class="row">
        <div class="col-md-4">
          <!-- Accordion Titles -->
          <div class="list-group">
            <a (mouseenter)="selectSkill('programming')" class="list-group-item list-group-item-action" [class.active]="selectedSkill === 'programming'">
              Programming Languages
            </a>
            <a (mouseenter)="selectSkill('frameworks')" class="list-group-item list-group-item-action" [class.active]="selectedSkill === 'frameworks'">
              Frameworks & Technologies
            </a>
            <a (mouseenter)="selectSkill('database')" class="list-group-item list-group-item-action" [class.active]="selectedSkill === 'database'">
              Database Management
            </a>
            <a (mouseenter)="selectSkill('tools')" class="list-group-item list-group-item-action" [class.active]="selectedSkill === 'tools'">
              Tools & Platforms
            </a>
            <a (mouseenter)="selectSkill('practices')" class="list-group-item list-group-item-action" [class.active]="selectedSkill === 'practices'">
              Software Development Practices
            </a>
          </div>
        </div>
        <div class="col-md-8">
          <!-- Content Area -->
          <div class="card text-bg-dark bg-black mt-3">
            <div class="card-body">
              <ng-container *ngIf="selectedSkill === 'programming'" class="accordion-content">
                <h5>Programming Languages:</h5>
                <p><strong>C#</strong>: Proficient in developing robust applications using C# with .NET and .NET Core.</p>
                <p><strong>JavaScript/TypeScript</strong>: Skilled in creating dynamic web applications with Angular.</p>
              </ng-container>
  
              <ng-container *ngIf="selectedSkill === 'frameworks'">
                <h5>Frameworks & Technologies:</h5>
                <p><strong>ASP.NET</strong>: Experienced in building scalable web applications using ASP.NET MVC and Web API.</p>
                <p><strong>Angular</strong>: Strong background in developing single-page applications (SPAs) with Angular.</p>
              </ng-container>
  
              <ng-container *ngIf="selectedSkill === 'database'">
                <h5>Database Management:</h5>
                <p><strong>SQL Server</strong>: Proficient in designing, querying, and optimizing relational databases.</p>
              </ng-container>
  
              <ng-container *ngIf="selectedSkill === 'tools'">
                <h5>Tools & Platforms:</h5>
                <p><strong>Version Control</strong>: Familiar with Git for source code management.</p>
                <p><strong>Development Tools</strong>: Experienced with Visual Studio and Visual Studio Code.</p>
              </ng-container>
  
              <ng-container *ngIf="selectedSkill === 'practices'">
                <h5>Software Development Practices:</h5>
                <p><strong>Agile Methodologies</strong>: Knowledgeable in Agile practices to deliver high-quality software.</p>
                <p><strong>API Development</strong>: Skilled in designing and implementing RESTful APIs.</p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  