/* You can add global styles to this file, and also import other style files */
body { /*changing the background of whole page */
    background-color: black !important;
    color: white !important; /* Set text color to white for better visibility */
    font-family: Arial, Helvetica, sans-serif;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
